@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&display=swap');

body {
    background-image: url('../image/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    padding-top: 4em;
    font-size: 26pt;
    font-family: 'Bilbo Swash Caps', cursive;
}

.whisky, .empty-whisky, .inkpen, .page {
    filter: drop-shadow(15px 15px 5px var(--shadow));
}

.pages {
    display: flex;
    width: auto;
    flex-basis : 65%;
    margin:1em;
}

.page {
    height:65vh;
    padding: 3vw;
    width: 50%;
    background-blend-mode: multiply;
}

.leftpage {
    background: url('../image/paper.png'), linear-gradient(270deg, rgba(157,158,137,1) 0%, rgba(233,226,187,1) 5%, rgba(255,251,203,1) 18%);
    border-radius: 24px 40% 40% 24px/8px 8px 8px 8px;
}

.rightpage {
    background: url('../image/paper.png'), linear-gradient(90deg, rgba(157,158,137,1) 0%, rgba(233,226,187,1) 5%, rgba(255,251,203,1) 18%);
    border-radius:  40% 24px 24px 40%/8px 8px 8px 8px;
    overflow: auto;
}

@media only screen and (min-width: 1200px){
    .empty-whisky {
        display:none;
      }
    .desktop {
        display:flex;
        flex-direction: row;
        justify-content:space-between;
    }

}

h2{
    text-align:center;
    font-size:1rem
}


@media only screen and (min-width: 1100px) and (max-width:1200px){
    .empty-whisky {
        display:none;
      }
    .desktop {
        display:flex;
        flex-direction: row;
        justify-content:space-around;
        width:90%
    }
    .inkpen{
        display:none;
    }
}

@media only screen and (min-width: 1000px) and (max-width:1100px){
    .whisky {
        display:none;
      }
      .empty-whisky {
        display:block;
      }

    .desktop {
        display:flex;
        flex-direction: row;
        justify-content:space-around;
        width:90%
    }
    .inkpen{
        display:none;
    }
}

@media only screen and (min-width: 800px) and (max-width:1000px){
    .whisky, .inkpen, .empty-whisky{
        display:none;
      }
    .desktop {
        display:flex;
        flex-direction: row;
        justify-content:space-around;
    }  
}

@media only screen and (max-width:800px){
    .whisky, .inkpen, .empty-whisky{
        display:none;
      }
    .pages {
        display:flex;
        flex-wrap:wrap ;
        width:100%;
    }  
}