@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&display=swap');

body {
    background-image: url('../image/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    padding-top: 4em;
    font-size: 26pt;
    font-family: 'Bilbo Swash Caps', cursive;
}

.whisky, .empty-whisky, .inkpen, .page {
    filter: drop-shadow(15px 15px 5px var(--shadow));
}

.pages {
    display: flex;
    width: auto;
    flex-basis : 65%;
    margin:1em;
}

.page {
    height:65vh;
    padding: 3vw;
    width: 50%;
    background-blend-mode: multiply;
}

.leftpage {
    background: url('../image/paper.png'), linear-gradient(270deg, rgba(157,158,137,1) 0%, rgba(233,226,187,1) 5%, rgba(255,251,203,1) 18%);
    border-radius: 24px 40% 40% 24px/8px 8px 8px 8px;
}

.rightpage {
    background: url('../image/paper.png'), linear-gradient(90deg, rgba(157,158,137,1) 0%, rgba(233,226,187,1) 5%, rgba(255,251,203,1) 18%);
    border-radius:  40% 24px 24px 40%/8px 8px 8px 8px;
    overflow: auto;
}

input {
    width: 80%;
}

select {
    width: 80%;
}

.table {
    width: 100%;
}

.table, td {
    text-align: right;    
}

.whisky{
    height: 100%;
}

.empty-whisky {
    height: 100%;
}

th {
    border-bottom: 1px solid black;
  }

  tr {
    border-top: 1px solid black;
}
  

@media screen and (min-width: 1200px) and (max-width: 3000px) {
    .empty-whisky {
        display: none;    
    }
    .desktop {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1199px){
    .desktop {
        display: flex;
        justify-content: space-between;        
    }
    .inkpen {
        display: none;
    }
    .empty-whisky {
        display: none;    
    }
}

@media screen and (min-width: 1000px) and (max-width: 1100px){
    .desktop {
        display: flex;
        justify-content: space-between;
    }

    .whisky {
        display: none;
    }

    .inkpen {
        display: none;
    }
}

@media screen and (min-width: 800px) and (max-width: 999px){
    .whisky {
        display: none;
    }

    .inkpen {
        display: none;
    }

    .empty-whisky {
        display: none;    
    }
}

@media screen and (min-width: 0px) and (max-width: 799px){
    .pages {
        align-items: center;
        flex-direction: column;
    }

    .whisky {
        display: none;
    }

    .inkpen {
        display: none;
    }

    .empty-whisky {
        display: none;    
    }

    .pagerightpage {
        margin-top: 10px;
    }
}

