@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&display=swap');

body {
    background-image: url('../image/background.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: auto;
}

.bottles{
    display: flex;
    justify-content : space-between;
}

.whisky{
    width: 90%;
}

main {
    padding-top: 4em;
    font-size: 26pt;
    font-family: 'Bilbo Swash Caps', cursive;
}

.whisky, .empty-whisky, .inkpen, .page {
    filter: drop-shadow(15px 15px 5px var(--shadow));
    
}

.inkpen {
    padding-left : 1000px;
    padding-bottom : 1000px;
}

.pages {
    display: flex;
    width: 60%;
    flex-basis : 65%;
    margin-bottom:10px;
    padding-left : 300px;
    padding-right : 100px;
    padding-bottom : 10px;
}

.page {
    height:65vh;
    padding: 30px;
    width: 60%;
    background-blend-mode: multiply;
    
}

.leftpage {
    background: url('../image/paper.png'), linear-gradient(270deg, rgba(157,158,137,1) 0%, rgba(233,226,187,1) 5%, rgba(255,251,203,1) 18%);
    border-radius: 24px 40% 40% 24px/8px 8px 8px 8px;
}

.rightpage {
    background: url('../image/paper.png'), linear-gradient(90deg, rgba(157,158,137,1) 0%, rgba(233,226,187,1) 5%, rgba(255,251,203,1) 18%);
    border-radius:  40% 24px 24px 40%/8px 8px 8px 8px;
    overflow: auto;
}