@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&display=swap');

body {
    background-image: url('../image/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    padding-top: 1em;
    padding-left: 5em;
    font-size: 19pt;
    font-family: 'Bilbo Swash Caps', cursive;
    width: 100%;
    margin: 0 auto;
  }


.desktop
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    
}

.whisky, .empty-whisky, .inkpen, .page {
    filter: drop-shadow(15px 15px 5px var(--shadow));
}

.sky {
    display: flex;
    align-self: flex-start;
    margin-top: 3%;
    margin-left: 33%;
    
}

.empty_sky {

    display: none;
}

.pen {
    display: flex;
    align-self: flex-end;
    padding-left:1%;
    padding-bottom: 5em;
    margin-top: 7%;
    margin-right: 550px;
}


.pages 
{
    display: flex;
    flex-basis : 50%;
    margin:1em;
    margin-right: 10%;
    padding-left: 2px;
    

}

.page {
    height:60vh;
    width: 38vh;
    padding: 3vw;
    background-blend-mode: multiply;
   

}

.leftpage {
    background: url('../image/paper.png'), linear-gradient(270deg, rgba(157,158,137,1) 0%, rgba(233,226,187,1) 5%, rgba(255,251,203,1) 18%);
    border-radius: 24px 40% 40% 24px/8px 8px 8px 8px;
}

.rightpage 
{
    background: url('../image/paper.png'), linear-gradient(90deg, rgba(157,158,137,1) 0%, rgba(233,226,187,1) 5%, rgba(255,251,203,1) 18%);
    border-radius:  40% 24px 24px 40%/8px 8px 8px 8px;
    overflow: auto;
    -webkit-border-radius:  40% 24px 24px 40%/8px 8px 8px 8px;
    -moz-border-radius:  40% 24px 24px 40%/8px 8px 8px 8px;
    -ms-border-radius:  40% 24px 24px 40%/8px 8px 8px 8px;
    -o-border-radius:  40% 24px 24px 40%/8px 8px 8px 8px;
}

input,select
{
  width: 90%;
}

.button
{
width: 20%;
}

.add 
{
    display: flex ;
    flex-direction: column;
    justify-content: flex-start;
    
}

.s-table
{
display: flex;
justify-content: flex-end;
}

table
{
border-spacing: 30px 10px;
}

td
{
text-align: right;
}

h1
{
    margin-top: 0%;
    margin-bottom: 0%;
}

h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serifx;
    margin-top: 0%;
    margin-bottom: 0%;
}

hr
{
    color: black;
    background-color: black; 
    margin-top: 0%;   
   
}

/* Media Queries */

@media only screen  and (max-width : 1200px) {

.pen 
{
    display: none;
}

.pages{

margin-right: 45%;
}

.page 
{
    
    margin-top: 5%;
    height:80vh;
    width: 40vh;
}

.sky
{

    margin-top: 7%;
    margin-left: 25%;
    
}

table
{
border-spacing: 30px 5px;
}


}

@media only screen  and (max-width :  1100px) {


.pages
{
 margin-right: 40%;   
 

}

.page
{
    height:90vh;
    width: 35vh;

}

.sky
{
    
    display: none;
    
}

.empty_sky 
{

    display: flex;
    align-self: flex-start;
    padding-right: 5%;
    margin-top: 7%;
    margin-left: 30%;
    
}


}
@media only screen  and (max-width :  1000px){

.empty_sky
{

    display: none;

}

.pages
{

display: flex;
margin: auto;
margin-right: 25%;

}

.page
{
    height:70vh;
    width: 55vh;
    
}

}


@media only screen  and (max-width :  800px)
{
.pages 
{

    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    margin: auto ;
}

}

