@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&display=swap');

body {
    background-image: url('../image/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    padding-top: 4em;
    font-size: 26pt;
    font-family: 'Bilbo Swash Caps', cursive;
}

.desktop {
    display: flex;
}

.whisky, .page {
    filter: drop-shadow(15px 15px 5px var(--shadow));
    height: 20%;
}

.empty-whisky {
    display: none;
}

.inkpen {
    filter: drop-shadow(15px 15px 5px var(--shadow));
    display: flex;
    align-self: flex-end;
}

.pages {
    display: flex;
    width: auto;
    flex-basis : 65%;
    margin:1em;
}

.page {
    height:65vh;
    padding: 3vw;
    width: 50%;
    background-blend-mode: multiply;
}

.leftpage {
    background: url('../image/paper.png'), linear-gradient(270deg, rgba(157,158,137,1) 0%, rgba(233,226,187,1) 5%, rgba(255,251,203,1) 18%);
    border-radius: 24px 40% 40% 24px/8px 8px 8px 8px;
}

.rightpage {
    background: url('../image/paper.png'), linear-gradient(90deg, rgba(157,158,137,1) 0%, rgba(233,226,187,1) 5%, rgba(255,251,203,1) 18%);
    border-radius:  40% 24px 24px 40%/8px 8px 8px 8px;
    overflow: auto;
}

@media screen and (min-width: 1100px) and (max-width: 1200px) {
    .inkpen {
        display: none;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1100px) {
    .inkpen {
        display: none;
    }

    .empty-whisky {
        display: flex;
        filter: drop-shadow(15px 15px 5px var(--shadow));
        height: 20%;
    }

    .whisky {
        display: none;
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    .inkpen, .whisky, .empty-whisky {
        display: none;
    }

    .pages {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 800px) {
    .inkpen, .whisky, .empty-whisky {
        display: none;
    }

    .pages {
        flex-direction: column-reverse;
        flex-basis: 85%;
        background-blend-mode: multiply;
    }

    .rightpage {
        width: 100%;
    }

    .leftpage {
        width: 100%;
    }
}

