@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&display=swap');

body {
    background-image: url('../image/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    padding-top: 4em;
    font-size: 26pt;
    font-family: 'Bilbo Swash Caps', cursive;
}

.whisky, .empty-whisky, .inkpen, .page {
    filter: drop-shadow(15px 15px 5px var(--shadow));
}

.desktop {
    display: flex
}

.whisky {
    width: auto;
    height: 20%;
    margin-top: -4%;
    margin-left: 2%;
}

.inkpen {
    height: 20%;
    margin-top: 15%;
}

.pages {
    display: flex;
    width: 80%;
    flex-basis : 65%;
    margin:1em;
    margin-top: -4%;
}

.page {
    height:65vh;
    padding: 3vw;
    width: 50%;
    background-blend-mode: multiply;
}

.leftpage {
    background: url('../image/paper.png'), linear-gradient(270deg, rgba(157,158,137,1) 0%, rgba(233,226,187,1) 5%, rgba(255,251,203,1) 18%);
    border-radius: 24px 40% 40% 24px/8px 8px 8px 8px;
}

.rightpage {
    background: url('../image/paper.png'), linear-gradient(90deg, rgba(157,158,137,1) 0%, rgba(233,226,187,1) 5%, rgba(255,251,203,1) 18%);
    border-radius:  40% 24px 24px 40%/8px 8px 8px 8px;
    overflow: auto;
}

table {
    text-align: right;
    width: 100%;
    font-size: 80%;

}
thead {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}

.formPage {
    font-size: 70%
}

input[type=text], input[type=number] {
    width: 100%;
    padding:2%
}

thead>tr>td {
border-bottom-style: solid;
border-bottom-color:black;
border-bottom-width: 1px 
}

#total {
    border-top-style: solid;
    border-top-color:black;
    border-top-width: 1px
}

tbody {
    margin : 5% auto 0%;
}

#emptyWisky {
    display: none;
}


@media only screen and (min-device-width : 1100px) and (max-device-width : 1200px) {

    .inkpen {
        display: none;
    }

}

@media only screen and (min-device-width : 1000px) and (max-device-width : 1100px) {

    .inkpen {
        display: none;
    }
    #emptyWisky {
        display: block;
    }
    #fullWisky {
        display:none;
    }
}

@media only screen and (min-device-width : 800px) and (max-device-width : 1000px) {

    .inkpen {
        display: none;
    }
    #emptyWisky {
        display: none;
    }
    #fullWisky {
        display:none;
    }

    .pages {
        flex-basis: 100%;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 800px) {

    .inkpen {
        display: none;
    }
    #emptyWisky {
        display: none;
    }
    #fullWisky {
        display:none;
    }

    .pages {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }
    .page {
        width: 90%
    }
}

