@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&display=swap');

body {
    background-image: url('../image/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    padding-top: 4em;
    font-size: 26pt;
    font-family: 'Bilbo Swash Caps', cursive;
}

.whisky, .empty-whisky, .inkpen, .page {
    filter: drop-shadow(15px 15px 5px var(--shadow));
}

.pages {
    display: flex;
    width: auto;
    flex-basis : 65%;
    margin:1em;
}

.page {
    height:auto;
    padding: 3vw;
    width: 50%;
    background-blend-mode: multiply;
}

.leftpage {
    background: url('../image/paper.png'), linear-gradient(270deg, rgba(157,158,137,1) 0%, rgba(233,226,187,1) 5%, rgba(255,251,203,1) 18%);
    border-radius: 24px 40% 40% 24px/8px 8px 8px 8px;
}

.rightpage {
    background: url('../image/paper.png'), linear-gradient(90deg, rgba(157,158,137,1) 0%, rgba(233,226,187,1) 5%, rgba(255,251,203,1) 18%);
    border-radius:  40% 24px 24px 40%/8px 8px 8px 8px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desktop {
    display: flex;
    flex-direction: row;
}
    
.empty-whisky {
    display: none;
}

.pageLetter {
    font-family: 'Lucida Typewriter';
    text-align: center;
}

.separatorLetter {
    border-color: gray;
    margin: 0;
    width: 100%;
}

.separatorTotal {
    border-color: gray;
    margin: 0;
    width: 50%;
}

.bribedList {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ulBribed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ulSeparator {
    display: flex;
    justify-content: flex-end;
}

.ulBribed span {
    text-align: right;
    width: 100%;
}

.addBribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addBribe label {
    font-size: .8em;
}

.addBribe button {
    height: 2em;
    width: 3.5em;
    background-color: white;
    border-style: none;
    border-radius: 4px;
}

.addBribe input {
    width: 90%;
    text-align: center;
    height: 2.5em;
    border-style: none;
    border-radius: 4px;
    margin-bottom: 1em;
}

@media screen and (max-width: 1200px) {
    .inkpen {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .empty-whisky {
        display: inline;
    }
    .whisky {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .empty-whisky {
        display: none;
    }
}

@media screen and (max-width: 800px) {

    .pages {
        flex-direction: column-reverse;
        flex-basis: 95%;
        margin: 0;
    }
    .page {
        min-height: 100vh;
        width: auto;
    }
    .desktop {
        justify-content: center;
        margin: 0;
        padding: 0;
    }
}