@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&display=swap');

body {
    background-image: url('../image/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    padding-top: 2em;
    font-size: 26pt;
    font-family: 'Bilbo Swash Caps', cursive;
}

.whisky, .empty-whisky, .inkpen, .page {
    filter: drop-shadow(15px 15px 5px var(--shadow));
}

.pages {
    display: flex;
    width: auto;
    flex-basis : 65%;
    margin:1em;
}

.page {
    height:65vh;
    padding: 3vw;
    width: 50%;
    background-blend-mode: multiply;
}

.leftpage {
    background: url('../image/paper.png'), linear-gradient(270deg, rgba(157,158,137,1) 0%, rgba(233,226,187,1) 5%, rgba(255,251,203,1) 18%);
    border-radius: 24px 40% 40% 24px/8px 8px 8px 8px;
}

.rightpage {
    background: url('../image/paper.png'), linear-gradient(90deg, rgba(157,158,137,1) 0%, rgba(233,226,187,1) 5%, rgba(255,251,203,1) 18%);
    border-radius:  40% 24px 24px 40%/8px 8px 8px 8px;
    overflow: auto;
}

@media screen and (min-width: 1200px) {
    
    .desktop{
     display: flex;
    }

    .whisky{
        width: 300px; 
        height: 300px; 
    }

    .inkpen{
        width: 225px ;
        height: 500px;
        margin-top: 130px;
    }


    .empty-whisky{
        display: none;
    }

    form{
        width: 100%;
    }

    form p {
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
    }

    form p label, form p input{
        width: 90%;
    }
    form p input{
        margin-left: 10px;
        border-radius: 5px;
    }

    #paySub{
        width: inherit;
        background: rgb(248, 248, 248);
        margin-top: 10px;
        border-radius: 5px;
        height: 25px;
    }

    /*  ------- RIGHT PAGE -------- */

    .rightpage{
        font-size:16px;
    }

    .rightpage p{
        margin: 0px;
        text-align: center;
    }

    .paymentlist{
        display: flex;
        flex-wrap: wrap;
        font-size: 1.5em;
        justify-content: flex-end;
    }
    
    .paymentlist div ul{
        list-style-type: none;
        text-align: end;
        padding: 0;
    }

    .namelist{
        margin-right: 10%;
    }

    #total{
        width: 80%;
        margin-right: 0%;
    }

}

@media screen and (min-width:1100px) and (max-width: 1199px) {
    
    .desktop{
     display: flex;
    }

    .whisky{
        width: 300px; 
        height: 300px; 
    }

    .inkpen{
        width: 225px ;
        height: 500px;
        margin-top: 130px;
        display: none;
    }


    .empty-whisky{
        display: none;
    }

    form{
        width: 100%;
    }

    form p {
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
    }

    form p label, form p input{
        width: 90%;
    }
    form p input{
        margin-left: 10px;
        border-radius: 5px;
    }

    #paySub{
        width: inherit;
        background: rgb(248, 248, 248);
        margin-top: 10px;
        border-radius: 5px;
        height: 25px;
    }

    /*  ------- RIGHT PAGE -------- */

    .rightpage{
        font-size:16px;
    }

    .rightpage p{
        margin: 0px;
        text-align: center;
    }

    .paymentlist{
        display: flex;
        flex-wrap: wrap;
        font-size: 1.5em;
        justify-content: flex-end;
    }
    
    .paymentlist div ul{
        list-style-type: none;
        text-align: end;
        padding: 0;
    }

    .namelist{
        margin-right: 10%;
    }

    #total{
        width: 80%;
        margin-right: 0%;
    }

}

@media screen and (min-width:1000px) and (max-width: 1099px) {
    
    .desktop{
     display: flex;
    }

    .whisky{
        width: 300px; 
        height: 300px; 
        display: none;
    }

    .inkpen{
        width: 225px ;
        height: 500px;
        margin-top: 130px;
        display: none;
    }


    .empty-whisky{
        width: 300px; 
        height: 300px;
    }

    form{
        width: 100%;
    }

    form p {
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
    }

    form p label, form p input{
        width: 90%;
    }
    form p input{
        margin-left: 10px;
        border-radius: 5px;
    }

    #paySub{
        width: inherit;
        background: rgb(248, 248, 248);
        margin-top: 10px;
        border-radius: 5px;
        height: 25px;
    }

    /*  ------- RIGHT PAGE -------- */

    .rightpage{
        font-size:16px;
    }

    .rightpage p{
        margin: 0px;
        text-align: center;
    }

    .paymentlist{
        display: flex;
        flex-wrap: wrap;
        font-size: 1.5em;
        justify-content: flex-end;
    }
    
    .paymentlist div ul{
        list-style-type: none;
        text-align: end;
        padding: 0;
    }

    .namelist{
        margin-right: 10%;
    }

    #total{
        width: 80%;
        margin-right: 0%;
    }

}

@media screen and (min-width:800px) and (max-width: 999px) {
    
    .desktop{
     display: flex;
     justify-content: center;
    }

    .whisky{
        width: 300px; 
        height: 300px; 
        display: none;
    }

    .inkpen{
        width: 225px ;
        height: 500px;
        margin-top: 130px;
        display: none;
    }


    .empty-whisky{
        width: 300px; 
        height: 300px;
        display: none;
    }

    form{
        width: 100%;
    }

    form p {
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
    }

    form p label, form p input{
        width: 90%;
    }
    form p input{
        margin-left: 10px;
        border-radius: 5px;
    }

    #paySub{
        width: inherit;
        background: rgb(248, 248, 248);
        margin-top: 10px;
        border-radius: 5px;
        height: 25px;
    }

    /*  ------- RIGHT PAGE -------- */

    .rightpage{
        font-size:16px;
    }

    .rightpage p{
        margin: 0px;
        text-align: center;
    }

    .paymentlist{
        display: flex;
        flex-wrap: wrap;
        font-size: 1.5em;
        justify-content: flex-end;
    }
    
    .paymentlist div ul{
        list-style-type: none;
        text-align: end;
        padding: 0;
    }

    .namelist{
        margin-right: 10%;
    }

    #total{
        width: 80%;
        margin-right: 0%;
    }

}

@media screen and (min-width:320px) and (max-width: 799px) {
    
    .desktop{
     display: flex;
     justify-content: center;
    }

    .pages{
        display:flex;
        flex-flow: wrap column;
    }

    .page{
        width: 100%;
    }

    .whisky{
        width: 300px; 
        height: 300px; 
        display: none;
    }

    .inkpen{
        width: 225px ;
        height: 500px;
        margin-top: 130px;
        display: none;
    }


    .empty-whisky{
        width: 300px; 
        height: 300px;
        display: none;
    }

    form{
        width: 100%;
    }

    form p {
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
    }

    form p label, form p input{
        width: 90%;
    }
    form p input{
        margin-left: 10px;
        border-radius: 5px;
    }

    #paySub{
        width: inherit;
        background: rgb(248, 248, 248);
        margin-top: 10px;
        border-radius: 5px;
        height: 25px;
    }

    /*  ------- RIGHT PAGE -------- */

    .rightpage{
        font-size:16px;
    }

    .rightpage p{
        margin: 0px;
        text-align: center;
    }

    .paymentlist{
        display: flex;
        flex-wrap: wrap;
        font-size: 1.5em;
        justify-content: flex-end;
    }
    
    .paymentlist div ul{
        list-style-type: none;
        text-align: end;
        padding: 0;
    }

    .namelist{
        margin-right: 10%;
    }

    #total{
        width: 80%;
        margin-right: 0%;
    }

}

