@import url("https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&display=swap");

body {
  background-image: url("../image/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  padding-top: 4em;
  font-size: 26pt;
  font-family: "Bilbo Swash Caps", cursive;
}

.whisky,
.empty-whisky,
.inkpen,
.page {
  filter: drop-shadow(15px 15px 5px var(--shadow));
}

.pages {
  display: flex;
  width: auto;
  flex-basis: 65%;
  margin: 1em;
}

.page {
  height: 65vh;
  padding: 3vw;
  width: 50%;
  background-blend-mode: multiply;
}

.leftpage {
  background: url("../image/paper.png"),
    linear-gradient(
      270deg,
      rgba(157, 158, 137, 1) 0%,
      rgba(233, 226, 187, 1) 5%,
      rgba(255, 251, 203, 1) 18%
    );
  border-radius: 24px 40% 40% 24px/8px 8px 8px 8px;
  display: flex;
  flex-direction: column;
}

.rightpage {
  background: url("../image/paper.png"),
    linear-gradient(
      90deg,
      rgba(157, 158, 137, 1) 0%,
      rgba(233, 226, 187, 1) 5%,
      rgba(255, 251, 203, 1) 18%
    );
  border-radius: 40% 24px 24px 40%/8px 8px 8px 8px;
  overflow: auto;
}

.desktop {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.desktop .empty-whisky {
  display: none;
  max-width: 250px;
}

.desktop .whisky {
  max-width: 250px;
}

.desktop .inkpen {
  display: none;
}

.leftpage .form_payement .form_input {
  background: #fff;
  width: 100%;
  line-height: 30px;
  border: 0;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 0 5px;
  box-sizing: content-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.leftpage .form_payement p {
  font-size: 24px;
  margin: 0;
}

.leftpage .form_payement .form_submit {
  border: 0;
  background: #fff;
  border-radius: 5px;
  padding: 5px;
}

.rightpage {
  overflow: hidden;
}

.rightpage p {
  text-align: center;
  border-bottom: 1px solid #000;
  font-family: "Roboto Mono", monospace;
  margin-top: 0;
}

.rightpage ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.rightpage hr {
  height: 1px;
  background: #000;
  border: 0;
  width: 108%;
  margin-right: 0;
  margin-top: -43px;
}

h1 {
    margin-top: -18px;
    margin-left: 44%;
}

div {
    display: grid;
}

button {
    margin-top: 20px;
    width: 12%;
}

.note {
    margin-top: -83px;
}

@media screen and (min-width: 1200px) {
  .desktop .inkpen {
    display: flex;
    max-width: 200px;
    margin-bottom: 0;
    margin-top: auto;
  }
}

@media screen and (max-width: 1100px) {
  .desktop .whisky {
    display: none;
  }
  .desktop .empty-whisky {
    display: flex;
  }
}

@media screen and (max-width: 1000px) {
  .desktop .empty-whisky {
    display: none;
  }
  .pages {
    flex-basis: 100%;
    margin: 0.5em;
  }
}

@media screen and (max-width: 800px) {
  .pages {
    flex-direction: column-reverse;
  }
  .page {
    box-sizing: border-box;
    min-width: 100%;
  }
  .rightpage {
    height: auto;
    margin-bottom: 0.5em;
  }
}