@import url('https://fonts.googleapis.com/css?family=Monoton|Roboto+Mono&display=swap');

:root {
    --dark: rgba(18, 18, 18, 0.62);
    --light: #f5f5f5;
    --shadow: rgba(20, 20, 20, 0.9);
    --paper: #e6dfad;
    --paper-dark: #c7c196;
    --error: indianred;
    scroll-behavior: smooth;

}

body {
    margin:0;
    box-sizing: border-box;
    font-size: 16pt;
    font-family: 'Roboto Mono', monospace;
    background-color: black;
}

.overlay {
    background-color: var(--dark);
    padding: 0.5em;
}

ul.error {
    background-color: var(--error);
    padding: 1em;
}

ul.error:empty {
    display: none;
}
.navbar {
    background-color: var(--dark);
    padding: 15px;
    color: var(--light);
    font-family: 'Monoton', cursive;
    display: flex;
    align-items: center;
    position:fixed;
    z-index: 2;
    width: 100vw;
}

.navbar a {
    color: var(--light);
    text-decoration: none;
    padding-left: 1em;
}

.navbar a:hover {
    text-shadow: 1px 1px 1px var(--light);
}

.navbar .logo {
    width: 50px;
    filter:sepia(70%);
}

code {
    background-color: var(--dark);
    color: var(--light);
    padding:1px;
    font-style: italic;
    border-radius: 2px;
}

h3 {
    margin-top:3em;
}

.desktop{
    display:flex;
}
.input--form--leftpage{
    border:0;
    padding: 10px;
    border-radius: 5px;
    width: 90%;
}
.button--form--leftpage{
    border:0;
    background-color: #fff;
    border-radius:5px;
    padding: 10px;
}
.table--rightpage{
    display:flex;
    justify-content: center;
}
.right{
    text-align: right;
}
.tablepart{
    width: 50%;
}
.tablepart p {
    font-size: 0.7em;
    margin: 0;
}
.title--rightpage{
    margin: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.right--part{
    text-align: right;
}
.right--part p:last-child{
    border-top: 1px solid #000;
}
hr{
    margin: 15px;
}
.alphabet{
    /* width: 100%; */
    display:flex;
    justify-content: space-around;
    background-color: rgb(192, 182, 182);
    margin-top: -55px;
}
.alphabet span{
    padding: 5px;
}
@media(min-width:1200px){
    .empty-whisky{
        display:none;
    }
    .whisky{
        height: 200px;
        margin-left: 3%;
    }
    .inkpen{
        height: 400px;
        margin-top: auto;
    }
}
@media(min-width:1100px) and (max-width:1200px){
    .inkpen{
        display:none;
    }
    .empty-whisky{
        display:none;
    }
    .whisky{
        height: 200px;
        margin-left: 3%;
    }
    .page{
        height:auto!important;
    }
    .tablepart p {
        font-size: 0.7em;
        margin: 0;
    }
}
@media(min-width:1000px) and (max-width:1100px){
    .inkpen{
        display:none;
    }
    .whisky{
        display:none;
    }
    .empty-whisky{
        height: 200px;
        margin-left: 3%;
    }
}
@media(min-width:800px) and (max-width:1000px){
    .empty-whisky,.whisky,.inkpen{
        display:none;
    }
    .pages{
        width: 100%;
        margin:0;
        flex-basis: auto;
    }
    .page{
        width: 100% !important;
    }
    .desktop{
        flex-direction: row-reverse;
        flex-wrap: nowrap !important;
    }
    .alphabet{
        flex-direction: column;
        width: 55px;
        text-align: center;
    }
}
@media(min-width:320px) and (max-width:800px){
    .empty-whisky,.whisky,.inkpen{
        display:none;
    }
    .pages{
        width: 100%;
        margin:0;
        flex-basis: auto;
        flex-direction: column-reverse;
    }
    .page{
        width: 100% !important;
        margin-bottom: 1em;
    }
    .leftpage{
        margin-left: 0.5em;
    }
    .rightpage{
        width: 90% !important;
    }
    .navbar a{
        font-size: 14px !important;
    }
}