@media screen and (min-width: 1200px) {
  .empty-whisky {
    display: none;
  }

  .desktop {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
  }

  .whisky {
    align-self: flex-start;
    height: 150px;
  }

  .inkenpen {
    margin-top: 200px;
    height: 45%;
  }

  .pages {
    height: 80px;
    flex-basis: 65%;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1200px) {
  .empty-whisky {
    display: none;
  }

  .inkpen {
    display: none;
  }

  .desktop {
    display: flex;
    flex-direction: row;
  }
  .whisky {
    align-self: flex-start;
  }
}
